.center {
    background: #f8f8f8;
    margin: auto;
    border: 1px solid #747a80;
    padding: 10px;
}

.width-75 {
    width: 75%;
}

.width-50 {
    width: 50%;
}

.debug-border {
    border: 1px solid #494949;
}

.img-thumbnail img {
    width: 100%;
    height: 120px;
}